@font-face {
    font-family: 'Roboto-Bold';
    src: url('~assets/fonts/Roboto-Bold_0.ttf');
}

@font-face {
    font-family: 'Roboto-BoldItalic';
    src: url('~assets/fonts/Roboto-BoldItalic_0.ttf');
}

@font-face {
    font-family: 'Roboto-Italic';
    src: url('~assets/fonts/Roboto-Italic_0.ttf');
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('~assets/fonts/Roboto-Light_0.ttf');
}

@font-face {
    font-family: 'Roboto-LightItalic';
    src: url('~assets/fonts/Roboto-Light_0.ttf');
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('~assets/fonts/Roboto-Medium_0.ttf');
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('~assets/fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Lora-BoldItalic';
    src: url('~assets/fonts/Lora-BoldItalic.ttf');
}
