@import "variable";

$trust-color: #EFF3F6;
$item-padding: 15px;

.trust-component {
  div {
    .trust {
      display: flex;
      height: 15px;
      width: 100%;

      .item {
        background-color: $trust-color;
        margin: 1px;
        border: 1px solid #c7c1c1;
        width: 10%;
      }

      .active {
        background-color: $green;
      }

      .left {
        border-radius: $item-padding 0 0 $item-padding;
      }

      .right {
        border-radius: 0 $item-padding $item-padding 0;
      }
    }
  }
}

